// If not stated otherwise in this file or this component's LICENSE file the
// following copyright and licenses apply:
//
// Copyright 2022 Liberty Global Service B.V.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

// ignore_for_file: invalid_annotation_target

import 'package:json_rpc_2/json_rpc_2.dart' as jsonrpc2;
import 'dart:async';
import 'cpe_client_factory.dart';

{% if api.structs | length > 0 or api.events | length > 0 %}
import 'package:freezed_annotation/freezed_annotation.dart';
part '{{api.filename}}.g.dart';
part '{{api.filename}}.freezed.dart';
{% else %}
import 'package:meta/meta.dart';
{% endif %}

{% for s in api.structs -%}
  {% if s.doc -%}
  /// {{s.doc}}
  {% endif -%}
  {% if True or s.json_serializable -%}
  @freezed
  class {{s.structConvertedName()}} with _${{s.structConvertedName()}} { //{{s.struct_name}} {{s.usage}}
    //xxrp:{{s.required_properties}}
    const factory {{s.structConvertedName()}}(
{% for p in s.properties -%}
      ///{{p.doc}}
      {% if p.json_key %}
          @JsonKey(name: '{{p.json_key}}')
      {% endif -%}
      {{p.type.typename()}}{{"" if s.required_properties and p.name in s.required_properties else "?"}} {{ p.name }}
      {{ ", " if not loop.last else "" }}
{% endfor %}
    ) = _{{s.structConvertedName()}};
    factory {{s.structConvertedName()}}.fromJson(Map<String, dynamic> json) => _${{s.structConvertedName()}}FromJson(json);
  }
{% else %}
  class {{s.structConvertedName()}} { //{{s.struct_name}} {{s.usage}}
    //xxrp:{{s.required_properties}}
{% for p in s.properties -%}
    ///{{p.doc}}
    final {{p.type.typename()}}{{"" if s.required_properties and p.name in s.required_properties else "?"}} {{ p.name }};
{% endfor %}
    {{s.structConvertedName()}}({{s.properties|struct_ctor_args}});
    {{s.structConvertedName()}}.fromMap(map):this({{s.properties|struct_ctor_args_from_map}});
  }
{% endif -%}
{% endfor %}

{% if api.events | length > 0 %}
@freezed
class {{api.baseEventName}} with _${{api.baseEventName}}{
{% for e in api.events %} 
  {% if e.doc -%}
/// {{e.doc}}
  {% endif -%}
  factory {{api.baseEventName}}.{{e.arguments[0].type.typename()}}Factory(
{% for p in e.arguments[0].type.properties -%}
      ///{{p.doc}}
      {% if p.json_key %}
          @JsonKey(name: '{{p.json_key}}')
      {% endif -%}
      {{p.type.typename()}}{{"" if e.arguments[0].type.required_properties and p.name in e.arguments[0].type.required_properties else "?"}} {{ p.name }}
      {{ ", " if not loop.last else "" }}
{% endfor %}
  ) = {{e.arguments[0].type.typename()}};
{% endfor %}

    factory {{api.baseEventName}}.fromJson(Map<String, dynamic> json) => _${{api.baseEventName}}FromJson(json);
    static const fromJsonFactory = _${{api.baseEventName}}FromJson;
{% for e in api.events %} 
    static const {{e.arguments[0].type.typename()}}FromJsonFactory = _$${{e.arguments[0].type.typename()}}FromJson;
{% endfor %}
}
{% endif %}

/// {{api.doc}}
{% if api.events | length > 0 %}
///
/// This class can emit following events:
{% for e in api.events %} 
/// * [{{e.arguments[0].type.typename()}}] - {{e.doc}}
{% endfor %}
{% endif %}
class {{api.classname}}
{
  late final jsonrpc2.Peer _client;
  bool _verbose = false;

  {% if api.events | length > 0 %}
  late final StreamController<{{api.baseEventName}}> _streamController;
  static int _instanceCount = 0;
  {% endif %}

  @visibleForTesting
  {{api.classname}}.test(jsonrpc2.Peer client) {
    _client = client;
  {% if api.events | length > 0 %}
    _instanceCount++;
    _streamController = _createStreamController();
  {% endif %}
  }

  {{api.classname}}() {
    _client = CpeRpcClient(CpeRpcService.thunder).client;
  {% if api.events | length > 0 %}
    _instanceCount++;
    _streamController = _createStreamController();
  {% endif %}
  }

  /// enable verbose debugs from the API class
  void set verbose(bool enable) {
      _verbose = enable;
  }

  {% for property in api.properties %}
  /// {{property.doc}}
  Future<{{property.type.typename()}}> {{property.name}}Property () async {
    if (_verbose) {
      print("{{property.name}}Property calling: {{property.callsign}}");
    }

    final result = await _client.sendRequest('{{property.callsign}}');

    if (_verbose) {
      print("{{property.name}}Property result: ${result}");
    }
    return {{property.type.instanceResultCreationCode('result')}};
  }
  {% endfor %}

  {% for method in api.methods %}
  /// {{method.doc}}
  {% if method.arguments | selectattr("doc") | any  -%}
  ///
  {% for a in method.arguments -%}
  /// [{{a.name}}] {{a.doc}}
  {% endfor -%}
  {% endif -%}
  {% if method.result.doc -%}
  /// @result {{method.result.doc}}
  {% endif -%}

  Future<{{method.result.rtype.typename()}}> {{method.name}} ({{ method.getArgList() }}) async {
    if (_verbose) {
      print("Calling {{method.name}} / {{method.callsign}} {{method.arguments | method_args_verbose}})");
    }

{% if method.arguments | length %}
  final Map<String,dynamic> params = {{ method.getNonOptionalArgsToJson() }};
{% for a in method.arguments -%}
{% if method.isArgumentOptional(a) -%}
  if ({{a.name}} != null) {
    params['{{a.name}}'] = {{a.name}};
  }
{% endif -%}
{% endfor -%}
    final result = await _client.sendRequest('{{method.callsign}}', params);
{% else %}
    final result = await _client.sendRequest('{{method.callsign}}');
{% endif %}

    if (_verbose) {
      print("{{method.name}} result: ${result}");
    }

    if (result["success"] == true) {
      return {{method.result.rtype.instanceResultCreationCode('result')}};
    }
    return Future.error("Request failure");
  }

  {% endfor %}
{% if api.events | length > 0 %}

  /// Creates the stream controller for the class events: {% for e in api.events -%} `{{e.arguments[0].type.typename()}}`{{ ", " if not loop.last else "" }} {%- endfor %}
  StreamController<{{api.baseEventName}}> _createStreamController() {
    void _onListen() {
      String eventId, eventName;
{%- for e in api.events %}
      eventId = "{{e.arguments[0].type.typename()}}{{ "${" }}_instanceCount{{ "}" }}";
      eventName = "{{e.name}}";
      if (_verbose) {
        print("registering event: eid: ${eventId} ename: ${eventName}");
      }
      _client.sendRequest('{{api.name}}.1.register', {'event': eventName, 'id': eventId}).then(
        (value) {
          if (_verbose) {
            print('onlisten: $value');
          } 
        });
{%- endfor %}
    }

    void _onCancel() {
      String eventId, eventName;
{%- for e in api.events %} 
      eventId = "{{e.arguments[0].type.typename()}}{{ "${" }}_instanceCount{{ "}" }}";
      eventName = "{{e.name}}";
      if (_verbose) {
        print("unregistering event: eid: ${eventId} ename: ${eventName}");
      }
      _client.sendRequest('{{api.name}}.1.unregister', {'event': eventName, 'id': eventId}).then(
        (value) { 
          if (_verbose) {
            print('oncancel: $value');
          }
        });
{%- endfor %}
    }

    final streamController = StreamController<{{api.baseEventName}}>.broadcast(
      onListen: _onListen,
      onCancel: _onCancel,
    );

      String eventId, eventName;
{%- for e in api.events %} 
    eventId = "{{e.arguments[0].type.typename()}}{{ "${" }}_instanceCount{{ "}" }}";
    eventName = "{{e.name}}";
    if (_verbose) {
      print("registerMehtod for event: ${eventId} ${eventName}");
    }
    _client.registerMethod(
      "${eventId}.${eventName}",
      (jsonrpc2.Parameters data) {
        if (_verbose) {
          print("event: {{e.arguments[0].type.typename()}}{{ "${" }}_instanceCount{{ "}" }}.{{e.name}} ${data}");
        }
        final response = data.value;
        streamController.add({{api.baseEventName}}.{{e.arguments[0].type.typename()}}FromJsonFactory(response));
      }
    );

{% endfor %}

    return streamController;
  }

  Stream<{{api.baseEventName}}> get stream {
    return _streamController.stream;
  }

{% endif %}
}
